ACTION=="remove", GOTO="uinput_end"

ACTION!="add", GOTO="uinput_end"

SUBSYSTEM=="misc", KERNEL=="uinput", GROUP="input", MODE="0664"

LABEL="uinput_end"
