[Unit]
Description=OTP-UINPUT keyboard event daemon

[Service]
ExecStart=/usr/bin/otp-uinput
User=uinput
Group=input
UMask=0002

[Install]
WantedBy=multi-user.target
